<h1>Signup!</h1>

<div class="signup">
  <%= form_for :user, url: '/users' do |f| %>
    <label for="First Name">First Name:</label> <%= f.text_field :firstname %><br />
    <label for="Last Name">Last Name:</label> <%= f.text_field :lastname %><br />
    <label for="Email">Email:</label> <%= f.text_field :email %><br />
    <label for="Password">Password:</label> <%= f.password_field :password %><br />
    <label for="Password Confirmation">Password Confirmation:</label> <%= f.password_field :password_confirmation %><br />
    <label for="Submit Button"></label><%= f.submit "Submit", class: 'btn btn-primary' %>
  <% end %>
</div>